:root {
  --bg: #fafafa;
  --el: #ffffff;
  --txt: #111517;
}
body.dark {
  --bg: #000000;
  --el: #2b3945;
  --txt: #ffffff;
}
.a {
  background-color: var(--bg);
  color: var(--txt);
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  transition: 0.3s;
}
.b {
  align-items: center;
  background-color: var(--el);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}
.d {
  font-size: 22px;
  font-weight: 800;
}
.e {
  background: none;
  border: none;
  color: var(--txt);
  cursor: pointer;
  display: flex;
  font-weight: 600;
  gap: 10px;
}
.f {
  display: flex;
  justify-content: space-between;
  padding: 40px 60px;
}
.g {
  background-color: var(--el);
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: var(--txt);
  padding: 18px 30px;
  width: 450px;
  outline: none;
}
.h {
  background-color: var(--el);
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: var(--txt);
  padding: 18px;
  width: 200px;
}
.i {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  padding: 0 60px 60px;
}
.j {
  background-color: var(--el);
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  overflow: hidden;
}
.k {
  height: 160px;
  object-fit: cover;
  width: 100%;
  display: block;
}
.l {
  padding: 25px 25px 40px;
}
.m {
  font-size: 18px;
  font-weight: 800;
  margin: 0 0 15px 0;
}
.n {
  font-size: 14px;
  margin: 5px 0;
}
.o {
  font-weight: 600;
}
